$primary-color: #57385c;
$secondary-color: #a75265;
$tertiary-color: #ec7263;
$quaternary-color: #febe7e;

$screen-large-min: 992px;

$fill-color: $quaternary-color;
$text-color: $primary-color;
$icon-color: $primary-color;
$shadow-color: black;

@mixin small {
    @media (max-width: #{$screen-large-min}) {
        @content;
    }
}

@mixin center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin raised-box {
    padding: 10px;
    border: 2px solid $shadow-color;
    box-shadow: 5px 5px $shadow-color;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body,
html,
canvas {
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-container {
    @include center-element();
    @include center-flex();
    @include raised-box();

    flex-direction: column;

    word-wrap: break-word;

    height: fit-content;
    width: 55rem;

    @include small() {
        width: 20rem;
    }

    border-radius: 1rem;

    background-color: $fill-color;
}

#name {
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: $text-color;

    font-size: 4.5rem;
    padding: 1rem;
    top: -3rem;

    @include small() {
        font-size: 2rem;
        top: -2rem;
    }

    position: relative;
}

#icon-bar {
    @include center-flex();

    position: absolute;
    bottom: 0.25rem;
}

.icon {
    margin: 1rem;
    width: 3rem;
    padding: 0.3rem;
    border-radius: 50%;
    border: 0.25rem solid $primary-color;

    @include small() {
        width: 2rem;
    }

    fill: $primary-color;

    transition: all 0.15s;
}
.icon:hover {
    background-color: $primary-color;
    fill: $quaternary-color;

    margin: 0.7rem;
    padding: 0.6rem;
}
